<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{ assets_css "/static/components/bootstrap-4.5.3/css/bootstrap.min.css"}}
    {{ assets_css "/static/css/layout.css"}}
    <title>用户新增</title>
</head>

<body>
    <!-- 引入模板 -->
    {{ template "base/templates/nav.html" . }}
    <div class="container-fluid m-2">
        <div class="row">
            <div class="col-12">
                <!-- renderform模板函数作用是: 自动生成input标签 -->
                <form action="{{ urlfor `UserController.Add` }}" method="post">
                    <input name="id" type="hidden" value="{{ .form.ID }}">
                    <div class="form-group row">
                        <label class="col-form-label">员工编号</label>
                        <div class="col-1">
                            <input type="text" class="form-control" value="{{ .form.StaffID }}" name="staffid">
                        </div>
                        <label class="col-form-label">用户名</label>
                        <div class="col-1">
                            <input type="text" class="form-control" value="{{ .form.Name }}" name="name">
                        </div>
                        <label class="col-form-label">姓名</label>
                        <div class="col-1">
                            <input type="text" class="form-control" value="{{ .form.Nickname }}" name="nickname">
                        </div>
                        <label class="col-form-label">密码</label>
                        <div class="col-1">
                            <input type="text" class="form-control" value="{{ .form.Password }}" name="password">
                        </div>
                        <label class="col-form-label">部门</label>
                        <div class="col-1">
                            <input type="text" class="form-control" value="{{ .form.Department }}" name="department">
                        </div>
                        <label class="col-form-label">性别</label>
                        <div class="col-1">
                            <input type="text" class="form-control" value="{{ .form.Gender }}" name="gender">
                        </div>
                        <label class="col-form-label">联系方式</label>
                        <div class="col-1">
                            <input type="text" class="form-control" value="{{ .form.Tel }}" name="tel">
                        </div>
                        <label class="col-form-label">地址</label>
                        <div class="col-1">
                            <input type="text" class="form-control" value="{{ .form.Addr }}" name="addr">
                        </div>
                        <label class="col-form-label">邮箱</label>
                        <div class="col-1">
                            <input type="text" class="form-control" value="{{ .form.Email }}" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-5 offset-5">
                            <input class="btn btn-info" type="submit" value="添加">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>